*{
    background-color: #ffcc00;
}

html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-decoration: none;
    color: white;
}
.theme{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
.m{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 1090px;
}
.div{
    display: block;
}

.menu-links, link{
    font-style: normal;
    color: white;
    font-style: none;
    text-decoration: none;
}
.menu-item{
    font-style: none;
    color: white;
    font-size:large;
    font-weight: 500;
    text-decoration: none;
    margin-left: 300px;
}
.btn{
    font-style: none;
    color: white;
    font-size:30px;
    font-weight: 500;
    text-decoration: none;

}
.cont-info{
    font-style: none;
    color: white;
    font-size:large;
    font-weight: 500;
    text-decoration: none;
    margin-left: 300px;
}
.cont-info{
    font-style: none;
    color: white;
    font-size:large;
    font-weight: 500;
    text-decoration: none;
    margin-left: 300px;
}
.btn btn-secondary dropdown-toggle{
  background-color: #ffcc00;
}
.dropdown-menu{
    font-family: "Poppins";
text-decoration: none;
font-size: large;
font-weight: 400;
color: white;
}
.a{
    color: white;
    font-size: large;
    font-style: none;
    text-decoration: none;
}
.s-menu-item{
text-decoration: none;
}
.sub-link{
    color: white;
    font-size: large;
    font-style: none;
    text-decoration: none;
}
.link{
    color: white;
    font-size: 30px;
    font-style: none;
    text-decoration: none;
}
.item{
    color: white;
    margin-left: 600px;
    font-size: larger;
}
.splittig{
    color: white;
    margin-right: 30px;
}
.header-footer{
    padding-left:600px;
    font-size: 15px;
    color: white;
}
.footer-sm{
    text-decoration: none;
    padding-left: 500px;
}